@charset "UTF-8";

body {
    background-color: #d6fde9;
}

h1 {
    color: black; 
}

#principal {
    text-align: center;
    background-color: #3c805e;
    color: aliceblue;
}

h2 {
    color: #3c805e;
}

.basico {
    color: rgb(40, 39, 110);
    font-weight: 900;

}

.intermediario {
color: coral;
}

.avancado {
color: darkmagenta;

}